[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/fvm-solidity"]
	path = lib/fvm-solidity
	url = https://github.com/filecoin-project/fvm-solidity
[submodule "lib/erc8167"]
	path = lib/erc8167
	url = https://github.com/wjmelements/erc8167
[submodule "lib/ReservedAddress"]
	path = lib/ReservedAddress
	url = https://github.com/filecoin-project/ReservedAddress
